<%- include("partials/header"); %>
  <form>
    <h2>Log in</h2>
    <input type="text" id="email" name="email" required />
    <label for="email">Email</label>
    <div class="email error"></div>
    <input type="password" id="password" name="password" required />
    <label for="password">Password</label>
    <div class="password error"></div>
    <button>Log in</button>
  </form>
  <script src="/js/login.js"></script>
<%- include("partials/footer"); %>