- const home = {"href": "/", "class": "home"};
- const logout = {"href": "/logout", "class": "logout"};
- const login = {"href": "/login", "class": "login"};
- const signup = {"href": "/signup", "class": "signup"};

  nav
    ul
      li
        a&attributes(home) Home
      if user
        li
          a&attributes(logout) Log out
        li #{user.username}
      else
        li
          a&attributes(login) Log in
        li
          a&attributes(signup) Sign up