- const google = {"href": "/auth/google", "class": "google"};
- const github = {"href": "/auth/github", "class": "github"};
- const facebook = {"href": "/auth/facebook", "class": "facebook"};

  main
    a&attributes(google) Google+
    a&attributes(github) Github
    a&attributes(facebook) Facebook