<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express-API</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="home" href="/">Home</a></li>
        <li><a class="login" href="/login">Log in</a></li>
        <li><a class="signup" href="/signup">Sign up</a></li>
      </ul>
    </nav>
    <form>
      <h2>Sign up</h2>
      <input type="text" id="username" name="username">
      <label for="username">Username</label>
      <div class="username error"></div>
      <input type="text" id="email" name="email">
      <label for="email">Email</label>
      <div class="email error"></div>
      <input type="password" id="password" name="password">
      <label for="password">Password</label>
      <div class="password error"></div>
      <button>Sign up</button>
    </form>
    <script src="/js/signup.js"></script>
  </body>
</html>